::ng-deep.mat-dialog-container {
    padding: 5px !important;
    border-radius: 15px !important;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    background-color: #ffffff !important;
    .gDialogContainer {
        box-shadow: none !important;
        position: relative;
        border-radius: 0 0 15px;
        // background-color: var(--cardContaier-bg) !important;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 23%);
        padding: 10px;
        backdrop-filter: blur(10px);
    }
    .gDialogTitle {
        background-color: var(--dialog-title-bg);
        padding: 10px 5px;
        font-size: 18px !important;
        margin-bottom: 0 !important;
        font-weight: 500 !important;
        font-family: system-ui !important;
        text-align: center;
        color: #000;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0 0;
    }
    .gDialogCloseButton {
        color: #000;
        padding: 0;
        font-weight: 900;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        min-width: 30px;
        background-color: var(--button-dialog-close-bg-color);
        line-height: 29px;
        border: 1px solid transparent;
        .mat-icon {
            font-size: 22px;
            line-height: 29px !important;
        }
        .fa {
            font-size: 22px;
            line-height: 29px !important;
        }
    }
    .gDialogCloseButton:hover {
        background-color: var(--button-dialog-close-hover-bg-color);
        color: #fff;
    }
}
.gcardContainer, .gTableSection{
    box-shadow: 0 0 65px -26px #9275ee
}


.oAuthButton{
    background-color:#90c330;
    border: none;
    height: 27px;
    line-height: 24px !important;
    padding: 0px 10px !important;
    font-size: 13px;
    font-weight: 500;
    border-radius: 13px !important;
    // background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 23%);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    font-family: system-ui;
    margin: 0 5px;
    min-width: 60px !important;
    border: 1px solid transparent;
  }
  