
  

    <div class="gWrapper">
      <app-header></app-header>


        <section class="gTableSection mx-3 mt-1">
          <div class="gTableActionheaders">

            <button class="gNormalButton" mat-button (click)="createDesc(EditAccBalance)">Create</button>
          </div>

            <table class="gNormalTable-md table" mat-table [dataSource]="datasource">
                <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
                    <th mat-header-cell *matHeaderCellDef>
                       {{col}}
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <span *ngIf="col === 'S.No'" style="max-width: 40px !important">{{i + 1}}</span>
                        <span *ngIf="col !== 'SNo'  && col !== 'Edit'&& col !== 'Delete'">{{ row[col] }}</span>
                        <span *ngIf="col === 'Edit'" style="min-width: 40px">
                            <button mat-icon-button class="gEditIcon" (click)="OpenPopUp(row, EditAccBalance)" >
                          <mat-icon>edit</mat-icon>
                            </button>
                            </span> <span *ngIf="col === 'Delete'" style="min-width: 40px">
                            <button mat-icon-button class="gDeleteIcon" (click)="removeEmployee(row, i)">
                          <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell text-center" *ngIf="!loading" [attr.colspan]="displayedColumns.length + 1">
                        No records found.
                    </td>
                </tr>
            </table>
            <div class="SkeltonLoader text-center justify-content-center d-flex" *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
        </section>
        <div id="result"></div>

    </div>

    <ng-template #EditAccBalance>
      <div class="gDialogTitle">
          <span></span>
          <span class="">Create New Employee</span>
          <button type="button" id="submit" (click)="dialog.closeAll()" mat-button class="gDialogCloseButton" >
              &#x2715;
          </button>
      </div>
  <div class="gDialogContainer">
    <form [formGroup]="employeeForm" class="row">
      <div class="form-group mt-3 col-12">
        <label for="inputName">Name</label>
        <input class="gInnerInput-border" type="text" formControlName="name"  (keydown)="focusNext($event, 'mail')"/>
      </div>
      <div class="form-group mt-3 col-12">
        <label for="inputEmail3">Email</label>
        <input class="gInnerInput-border" type="email" id="mail" formControlName="email" (keydown)="focusNext($event, 'select')" />

      </div>
      <div class="form-group mt-3 col-12">
        <label for="inputPassword3">Designation</label>
        <mat-select  class=" gInnerInput-border" id="select"
          (change)="updateProfile($event)"
          formControlName="designation" >
         
          <mat-option class="gSelectOption" *ngFor="let employeeProfile of EmployeeProfile" value="{{ employeeProfile }}" (onSelectionChange)="designChoosen($event)">
            {{ employeeProfile }}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group mt-3 col-12">
        <label for="inputVerify3">Mobile No</label>
        <input class="gInnerInput-border" type="tel" id="phnumber" formControlName="phoneNumber" (keydown)="focusNext($event, 'submit')"  />
      </div>
      <div class="form-group text-center mt-4">
        <button class=" gSaveButton" type="button" id="submit" *ngIf="!edit" (click)="createEmployee()">
          Register
        </button>
        <button class=" gSaveButton" type="button" id="submit" *ngIf="edit"  (click)="updateEmployees()">
            Update
          </button>

      </div>
    </form>
      </div>
</ng-template>